<!doctype html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <title>COMPONENTS</title>
  <meta name="description" content="Basic Grid">
  <meta name="keywords" content="html, css,floats, float left, float right, clearfix, simple grid">  
  <meta name="author" content="Intro to Web"> 
    
  <!-- THIS IS A LINK TO THE EXTERNAL .CSS --> 
  <link rel="stylesheet" href="css/grid.css">
  <link rel="stylesheet" href="css/layout.css">
    
</head>
    

<body>

<div class="outer">
   
    </div>
	
	
    <div class="page">
    <div class="container">
        
       
        
        <!-- COMPONENT 1 - HERO IMAGE AND TEXT --> 
        <div class="row">
            <div class="col-9">
                <div class="hero_content"><p class="hero_text_headline">
                    PLEASE SHARE YOUR MEMORIES WITH US!
					</p>
                    <img src="img/family.jpg" alt="siblings baking together"/>
                </div>
				</div>
            </div>
			
			<!-- COMPONENT 2 - SHARE BUTTON --> 
			<div class="row">
			<div class="col-3">
				<div class="share_button"> <img src="img/share.png"/>
					</div>
				</div>
				</div>
				
			
				<!-- COMPONENT 3 - SECONDARY HERO IMAGE & TEXT --> 
			 <div class="row">
            <div class="col-12">
               
                    <img src="img/marines.jpg" alt="marines receiving package"/>
				
                
				  <div class="secondaryhero_content"><p class="marine_headline">
                    OUR TROOPS LOVE TO RECEIVE COOKIES MADE WITH HERSHEY PRODUCTS
					</p>
					  </div>
            </div>
				 
				 
				 
				 
				 
					 <!-- COMPONENT 4 - FEATURED ITEM 1 --> 
				 <div class="row">
				<div class="col-4">
					
			<div>
			 <div class="featured_items">
                    <img src="img/stpatricksprinkles.jpg" />
                    <span class="section">Novelty Sprinkles</span></br>
                    St Patrick's Day Themed - $4.99

                </div>
					</div>
					 </div>
				
			</div>
				 
				 	<!-- COMPONENT 5 - FEATURED ITEM 2 --> 
		
				 <div class="row">
			<div class="col-4">
					
			<div>
			 <div class="featured_items">
                    <img src="img/stpatrickspicks.jpg" />
                    <span class="section">Cupcake Picks</span></br>
                      St Patrick's Day Themed - $3.99

                </div>
					</div>
				</div>
			</div>
		
			</div>
				
			
			<!-- COMPONENT 6 - FEATURED ITEM 3 --> 
				 <div class="row">
			<div class="col-4">
					
			<div>
			 <div class="featured_items">
                    <img src="img/stpatrickwrappers.jpg" />
                    <span class="section">Cupcake Wrappers</span></br>
                    St Patrick's Day Themed - $2.99

                </div>
					</div>
				</div>
			</div>
		
			</div>
			
 

        
    </div>
  </div>
</div>


</body>

</html>
 